In [1]:
import pandas as pd
df_0  = pd.read_csv(r'D:\AISHU\College notes\3RD Year\6TH SEM\DATA SCIENCE\Project\DS\action.csv').head(20)
df_1  = pd.read_csv(r'D:\AISHU\College notes\3RD Year\6TH SEM\DATA SCIENCE\Project\DS\adventure.csv').head(20)
df_2  = pd.read_csv(r'D:\AISHU\College notes\3RD Year\6TH SEM\DATA SCIENCE\Project\DS\animation.csv').head(20)
df_3  = pd.read_csv(r'D:\AISHU\College notes\3RD Year\6TH SEM\DATA SCIENCE\Project\DS\biography.csv').head(20)
df_4  = pd.read_csv(r'D:\AISHU\College notes\3RD Year\6TH SEM\DATA SCIENCE\Project\DS\crime.csv').head(20)
df_5  = pd.read_csv(r'D:\AISHU\College notes\3RD Year\6TH SEM\DATA SCIENCE\Project\DS\family.csv').head(20)
df_6  = pd.read_csv(r'D:\AISHU\College notes\3RD Year\6TH SEM\DATA SCIENCE\Project\DS\fantasy.csv').head(20)
df_7  = pd.read_csv(r'D:\AISHU\College notes\3RD Year\6TH SEM\DATA SCIENCE\Project\DS\film-noir.csv').head(20)
df_8  = pd.read_csv(r'D:\AISHU\College notes\3RD Year\6TH SEM\DATA SCIENCE\Project\DS\history.csv').head(20)
df_9  = pd.read_csv(r'D:\AISHU\College notes\3RD Year\6TH SEM\DATA SCIENCE\Project\DS\horror.csv').head(20)
df_10 = pd.read_csv(r'D:\AISHU\College notes\3RD Year\6TH SEM\DATA SCIENCE\Project\DS\mystery.csv').head(20)
df_11 = pd.read_csv(r'D:\AISHU\College notes\3RD Year\6TH SEM\DATA SCIENCE\Project\DS\romance.csv').head(20)
df_12 = pd.read_csv(r'D:\AISHU\College notes\3RD Year\6TH SEM\DATA SCIENCE\Project\DS\scifi.csv').head(20)
df_13 = pd.read_csv(r'D:\AISHU\College notes\3RD Year\6TH SEM\DATA SCIENCE\Project\DS\sports.csv').head(20)
df_14 = pd.read_csv(r'D:\AISHU\College notes\3RD Year\6TH SEM\DATA SCIENCE\Project\DS\thriller.csv').head(20)
df_15 = pd.read_csv(r'D:\AISHU\College notes\3RD Year\6TH SEM\DATA SCIENCE\Project\DS\war.csv').head(20)

In [2]:
dfs = [df_0, df_1, df_2, df_3, df_4, df_5, df_6, df_7, df_8, 
       df_9, df_10, df_11, df_12, df_13, df_14, df_15]


for i in range(len(dfs)):
    dfs[i] = dfs[i][['movie_name', 'genre', 'description']]

df_0, df_1, df_2, df_3, df_4, df_5, df_6, df_7, df_8, df_9, df_10, df_11, df_12, df_13, df_14, df_15 = dfs

print("Unnecessary columns dropped from all datasets.")

Unnecessary columns dropped from all datasets.

In [3]:
dfs = [df_0, df_1, df_2, df_3, df_4, df_5, df_6, df_7, df_8, 
       df_9, df_10, df_11, df_12, df_13, df_14, df_15]

for i in range(len(dfs)):
    dfs[i] = dfs[i].dropna()

df_0, df_1, df_2, df_3, df_4, df_5, df_6, df_7, df_8, df_9, df_10, df_11, df_12, df_13, df_14, df_15 = dfs

print("Null values dropped from all datasets.")

Null values dropped from all datasets.

In [4]:
import pandas as pd

dfs = [df_0, df_1, df_2, df_3, df_4, df_5, df_6, df_7, df_8, 
       df_9, df_10, df_11, df_12, df_13, df_14, df_15]

unique_genres = set()

for df in dfs:
    df['genre'] = df['genre'].astype(str)
    for genres in df['genre'].dropna():
        genre_list = [g.strip() for g in genres.split(',')]
        unique_genres.update(genre_list)

unique_genres = sorted(unique_genres)

print(unique_genres)

['Action', 'Adventure', 'Animation', 'Biography', 'Comedy', 'Crime', 'Drama', 'Family', 'Fantasy', 'Film-Noir', 'History', 'Horror', 'Music', 'Musical', 'Mystery', 'Romance', 'Sci-Fi', 'Sport', 'Thriller', 'War', 'Western']

In [4]:
genre_labels = ['Action', 'Adult', 'Adventure', 'Animation', 'Biography', 'Comedy', 'Crime', 'Drama', 'Family', 'Fantasy', 'Film-Noir', 'Game-Show', 'History', 'Horror', 'Music', 'Musical', 'Mystery', 'News', 'Reality-TV', 'Romance', 'Sci-Fi', 'Short', 'Sport', 'Talk-Show', 'Thriller', 'War', 'Western']

dfs = [df_0, df_1, df_2, df_3, df_4, df_5, df_6, df_7, df_8, 
       df_9, df_10, df_11, df_12, df_13, df_14, df_15]

for df in dfs:
    df['genre'] = df['genre'].astype(str)
    for genre in genre_labels:
        df[genre] = df['genre'].apply(lambda x: 1 if genre in x else 0)

df_0, df_1, df_2, df_3, df_4, df_5, df_6, df_7, df_8, df_9, df_10, df_11, df_12, df_13, df_14, df_15 = dfs

In [6]:
df_0.head()

,movie_name,genre,description,Action,Adult,Adventure,Animation,Biography,Comedy,Crime,...,News,Reality-TV,Romance,Sci-Fi,Short,Sport,Talk-Show,Thriller,War,Western
0,Black Panther: Wakanda Forever,"Action, Adventure, Drama",The people of Wakanda fight to protect their h...,1,0,1,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,Avatar: The Way of Water,"Action, Adventure, Fantasy",Jake Sully lives with his newfound family form...,1,0,1,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,Plane,"Action, Thriller",A pilot finds himself caught in a war zone aft...,1,0,0,0,0,0,0,...,0,0,0,0,0,0,0,1,0,0
3,Everything Everywhere All at Once,"Action, Adventure, Comedy",A middle-aged Chinese immigrant is swept up in...,1,0,1,0,0,1,0,...,0,0,0,0,0,0,0,0,0,0
4,Fast X,"Action, Crime, Mystery",Dom Toretto and his family are targeted by the...,1,0,0,0,0,0,1,...,0,0,0,0,0,0,0,0,0,0

In [7]:
'''genre_columns = ["Action", "Adult", "Adventure", "Animation", "Biography", "Comedy", "Crime", "Drama", "Family", "Fantasy", "Film-Noir", "History", "Horror", "Mystery", "Romance", "Thriller"]
df_genres = df[genre_columns]

genre_counts = df_genres.sum()
print("Genre counts:")
print(genre_counts)'''

'genre_columns = ["Action", "Adult", "Adventure", "Animation", "Biography", "Comedy", "Crime", "Drama", "Family", "Fantasy", "Film-Noir", "History", "Horror", "Mystery", "Romance", "Thriller"]\ndf_genres = df[genre_columns]\n\ngenre_counts = df_genres.sum()\nprint("Genre counts:")\nprint(genre_counts)'

In [6]:
print(df_0.columns)

Index(['movie_name', 'genre', 'description', 'Action', 'Adult', 'Adventure',
       'Animation', 'Biography', 'Comedy', 'Crime', 'Drama', 'Family',
       'Fantasy', 'Film-Noir', 'Game-Show', 'History', 'Horror', 'Music',
       'Musical', 'Mystery', 'News', 'Reality-TV', 'Romance', 'Sci-Fi',
       'Short', 'Sport', 'Talk-Show', 'Thriller', 'War', 'Western'],
      dtype='object')

In [5]:
dfs = [df_0, df_1, df_2, df_3, df_4, df_5, df_6, df_7, df_8, 
       df_9, df_10, df_11, df_12, df_13, df_14, df_15]

combined_df = pd.concat(dfs, ignore_index=True)
save_path = r"D:\AISHU\College notes\3RD Year\6TH SEM\DATA SCIENCE\Project\DS/combined_movies.csv"
combined_df.to_csv(save_path, index=False)

print(f"Dataset saved at {save_path}")

Dataset saved at D:\AISHU\College notes\3RD Year\6TH SEM\DATA SCIENCE\Project\DS/combined_movies.csv

In [6]:
print(combined_df.columns)

Index(['movie_name', 'genre', 'description', 'Action', 'Adult', 'Adventure',
       'Animation', 'Biography', 'Comedy', 'Crime', 'Drama', 'Family',
       'Fantasy', 'Film-Noir', 'Game-Show', 'History', 'Horror', 'Music',
       'Musical', 'Mystery', 'News', 'Reality-TV', 'Romance', 'Sci-Fi',
       'Short', 'Sport', 'Talk-Show', 'Thriller', 'War', 'Western'],
      dtype='object')